[class*='icon-']:before{
	display: inline-block;
   font-family: 'Mfizz';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-archlinux:before{content:'\0041';}
.icon-bootstrap:before{content:'\0042';}
.icon-c:before{content:'\0043';}
.icon-cassandra:before{content:'\0044';}
.icon-centos:before{content:'\0045';}
.icon-css3:before{content:'\0046';}
.icon-debian:before{content:'\0047';}
.icon-docker:before{content:'\0048';}
.icon-elixir:before{content:'\0049';}
.icon-fedora:before{content:'\004a';}
.icon-git:before{content:'\004b';}
.icon-go:before{content:'\004c';}
.icon-html5:before{content:'\004d';}
.icon-mariadb:before{content:'\004e';}
.icon-mongodb:before{content:'\004f';}
.icon-mysql:before{content:'\0050';}
.icon-nginx:before{content:'\0051';}
.icon-nodejs:before{content:'\0052';}
.icon-postgres:before{content:'\0053';}
.icon-python:before{content:'\0054';}
.icon-raspberrypi:before{content:'\0055';}
.icon-reactjs:before{content:'\0056';}
.icon-redhat:before{content:'\0057';}
.icon-redis:before{content:'\0058';}
.icon-rust:before{content:'\0059';}
.icon-sass:before{content:'\005a';}
.icon-shell:before{content:'\0061';}
.icon-ubuntu:before{content:'\0062';}