body {
  background: #333333 url(../img/bg2.png);
  height: 100% !important;
  color: #ffffff;

  font: {
    family: 'Russo One', sans-serif;
  }
}

// Logo
.logo {
  max-width: 200px;
  max-height: 200px;
}

// Content
.content {
  width: auto;
  min-width: 800px;
  max-width: 800px;
  margin-top: 60px;
  background: rgba(0, 0, 0, .5);
}

// Small text
small {
  color: #c4c4c4;
  font-size: 75%;
}

// Centering
.front_and_center {
  margin-top: 30px;
  text-align: center;
  width: 600px;
}

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }

// Text colors
.sun { color: #f1c40f !important; }
.gray { color: #cacaca !important; }
.purple { color: #551a8b !important; }
.emerald { color: #2ecc71 !important; }

// Anchors
a:hover { color: #fff; }
a:link, a:visited, a:active { color: #F87920; }

// Buttons
.btn {
  color: #cacaca !important;
  border: .5px solid #000;
  cursor: pointer;
  padding: 7px 20px;
  min-width: 110px;
  background: #000;
  transition: .3s background, .3s color;
  
  font: {
    size: 16px;
    family: 'Roboto', sans-serif;
    weight: 600;
  }
  text: {
    align: center;
    transform: uppercase;
    decoration: none;
  }
}

.btn:hover { color: #000 !important; background: #cacaca; }

// Footer
.footer {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5%;
  margin-bottom: 10px;
  width: 100%;
}