$cursor: pointer;
$border: 1.5px solid;

.btn {
  color: #ffffff !important;
  border: $border rgba(0, 0, 0, 1);
  cursor: $cursor;
  padding: 5px 15px;
  min-width: 110px;
  border-radius: 2.5%;
  background: rgba(0, 0, 0, .8);
  transition: 0.5s background 0.5s color 0.5s border;
  
  font: {
    size: 16px;
    family: 'Roboto', sans-serif;
    weight: 600;
  }

  text: {
    align: center;
    transform: uppercase;
    decoration: none;
  }

  &.green-border {
    border: $border rgba(235, 235, 235, 1);
    background: rgba(25, 20, 20, 1);
    &:hover { border: $border rgba(30, 215, 96, 1); background-color: rgba(25, 20, 20, 1) }
  }
}