// Text colors
.sun { color: #f1c40f !important; }
.gray { color: #cacaca !important; }
.purple { color: #551a8b !important; }
.emerald { color: #2ecc71 !important; }

// Anchors
a:hover { color: #b45a19 !important; transition: 0.2s color; }
a:link, a:visited, a:active { color: #F87920; }