.emoji {
  width              : 1em;
  height             : 1em;
  margin             : 0 .05em 0 .1em;
  display            : inline-block;
  vertical-align	   : -.1em;
  background-size	   : 1em 1em;
  background-repeat	 : no-repeat;
  background-position: center center;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}


.mario { background-image: url( https://cdn.discordapp.com/emojis/331110264030363648.png?v=1 ) !important }

.repo { background-image: url( ../img/GitHub/repo.svg ) !important }
.comment-discussion { background-image: url( ../img/GitHub/comment-discussion.svg ) !important }
.octoface { background-image: url( ../img/GitHub/octoface.svg ) }
.repo-force-push { background-image: url( ../img/GitHub/repo-force-push.svg ); font-size: 16px; }