$style: normal;
$format: 'woff2';
$weight: 400;
$font-stack: 'Russo One', sans-serif;
$font-stack-regular: 'RussoOne-Regular';

$latin-path: '../font/russo-one-regular-3.woff2';
$cyrillic-path: '../font/russo-one-regular-1.woff2';
$latin-ext-path: '../font/russo-one-regular-2.woff2';

%styling {
  font: {
    style: $style;
    family: $font-stack;
    weight: $weight;
  }
}

// cyrillic
@font-face {
  @extend %styling;
  
  src: local($font-stack), local($font-stack-regular), url($cyrillic-path) format($format);
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
// latin-ext
@font-face {
  @extend %styling;
  
  src: local($font-stack), local($font-stack-regular), url($latin-ext-path) format($format);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// latin
@font-face {
  @extend %styling;
  
  src: local($font-stack), local($font-stack-regular), url($latin-path) format($format);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}