// outdated font
// @font-face {
//   font-family: 'Mfizz';
//   src: url('../font/mfizz-custom.eot');
//   src: url('../font/mfizz-custom.eot?#iefix') format('embedded-opentype'),
//     url('../font/mfizz-custom.woff') format('woff'),
//     url('../font/mfizz-custom.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'devicon';
//   src: url('../font/devicon.eot');
//   src: url('../font/devicon.eot?#iefix') format('embedded-opentype'),
//     url('../font/devicon.woff') format('woff'),
//     url('../font/devicon.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }


@font-face {
    font-family: 'glyphs';
    // src: url('../font/glyphs.svg') format('svg');
    src: url('../font/glyphs-Regular.otf') format('opentype');
}

// .glyph-discord:before {
//     content: 'D';
//     font-size: 100px;
//     font-family: 'glyphs';
// }

@import 'utilities/variables';
.socials {
  margin-bottom: 15px;
  margin-left: 3%;
}


.icon_set {
  a {
    color: #eee;
    text-decoration: none;
  }

  i {
    transition: .3s color;
    cursor: $cicon-cursor;
    font-size: 2rem;
    margin-right: $cicon-margin;
  }
}


// Contains all custom icons in the `glyphs` font
.glyph {
    font-family: 'glyphs';
    font-style: normal;
    text-decoration: none;

    &.discord:before  { content: '\0AAA'; }
    &.github:before   { content: '\0AAB'; }
    &.email:before    { content: '\0AAC'; }
    &.linkedin:before { content: '\0AAD'; }

    &.c:before          { content: '\0AE2';}
    &.elixir:before     { content: '\0AE3';}
    &.rust:before       { content: '\0AE4';}
    &.typescript:before { content: '\0AE5';}
    &.cassandra:before  { content: '\0AE6';}
    &.cplusplus:before  { content: '\0AE7';}
    &.csharp:before     { content: '\0AE8';}
    &.docker:before     { content: '\0AE9';}
    &.postgres:before   { content: '\0AEA';}
    &.git:before        { content: '\0AEB';}
    &.svelte:before     { content: '\0AEC';}
    &.react:before      { content: '\0AED';}
    &.nginx:before      { content: '\0AEE';}
}
