$bicon-size: 43px;
$bicon-margin: 0 5px;
$bicon-cursor: pointer;

$cicon-size: 35px;
$cicon-margin: 4px;
$cicon-cursor: pointer;

// Icon sets
.icon_set {
  a { color: #eee; }
  i {
    cursor: $bicon-cursor;
    margin: $bicon-margin;
    font-size: $bicon-size;
    transition: 0.3s color;
  
    &:hover   { color: #888888; }
    &.email   { color: #ffffff; &:hover { color: #888888; } }
    &.steam   { color: #888888; &:hover { color: #646464; } }
    &.github  { color: #7e6f6f; &:hover { color: #685b5b; } }
    &.twitch  { color: #6441A4; &:hover { color: #4741a3; } }
    &.lastfm  { color: #d51007; &:hover { color: #b8170e; } }
    &.twitter { color: #00aced; &:hover { color: #0084b4; } }
    &.discord { color: #7289DA; &:hover { color: #99AAB5; } }
    &.spotify { color: #1ED760; &:hover { color: #6ad61d; } }
  }
}

.code-icons {
  i {
    cursor: $cicon-cursor;
    font-size: $cicon-size;
    margin-right: $cicon-margin;

    &.icon-css         { color: #2BA8E0; }
    &.icon-sass        { color: #cc6699; }
    &.icon-html        { color: #F1642C; }
    &.icon-gulp        { color: #db4446; }
    &.icon-redis       { color: #D82C20; margin-right: 7px; }
    &.icon-shell       { color: #ffffff; }
    &.icon-nodejs      { color: #80BD01; }
    &.icon-ubuntu      { color: #E95420; }
    &.icon-redhat      { color: #FF0000; }
    &.icon-javascript  { color: #FEF728; }
    &.icon-raspberrypi { color: #c51a4a; margin-right: -9px; }
  }
}
