@import 'utilities/variables';

h1 {
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 4rem !important;
}

h2.section {
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  padding: 1.5rem;
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem !important;
}

.sun {
  color: #f1c40f !important
}

.gray {
  color: #cacaca !important
}

.purple {
  color: #551a8b !important
}

.emerald {
  color: #2ecc71 !important
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.unselectable {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

::-moz-selection {
  background-color: $selection_background;
}

::selection {
  background-color: $selection_background;
}

/* Shine animations for hyperlinks */
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes shine {
  from {
    mask-position: 150%;
  }
  to {
    mask-position: -50%;
  }
}

.hyper {
  &.white { color: #ffffff; }

  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  color: $color_hyperref;

  mask-image: $mask_image;
  -webkit-mask-image: $mask_image;
  mask-size: $mask_size;
  -webkit-mask-size: $mask_size;

  &:hover {
    animation: shine 2s infinite;
    transition: all 0.15s ease-in-out;
    color: $color_highlight;
  }
}