@use 'buttons.selected';
@use 'particles';
@use 'container';
@use 'text';
@use 'fonts';
@use 'font_devicon.part';
@use 'footer';

@use 'bootstrap_components';

:root {
  font-size: 14px;
}

p a, .projects a {
  font-weight: 700;
  font-style: italic;
  text-decoration: none;

  &:hover {
    color: #800000 !important;
    transition: .2s color
  }

  &:link, &:visited, &:active {
    color: #008080;
  }
}

body {
  font-family: Helvetica, sans-serif !important;
  background-color: rgb(44, 47, 51);
  background: url("../img/background.webp");
  color: #F5F5F5;
  line-height: 1.4;
  font-size: 1.2rem;
}

.maincontent {
  z-index: 1;
  // width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  min-width: 350px;
  margin-top: 1%;
  border: 0.5px rgba(0, 0, 0, .2) solid;
  border-radius: 1%;
  background: rgba(5, 5, 5, .3);
}


.social-icons {
  margin: 5px;
  position: relative;
}

.icon_set a {
  color: #eee
}

.icon_set i {
  cursor: pointer;
  margin: 0 5px;
  font-size: 43px;
  transition: .3s color
}

$cicon-size: 2.8rem;
$cicon-margin: 4px;
$cicon-cursor: pointer;

.icon_set {
  i {
    cursor: $cicon-cursor;
    font-size: $cicon-size;
    margin-right: $cicon-margin;

    // &.icon-css         { color: #2BA8E0; }
    // &.icon-sass        { color: #cc6699; }
    // &.icon-html        { color: #F1642C; }
    // &.icon-gulp        { color: #db4446; }
    // &.icon-redis       { color: #D82C20; }
    // &.icon-shell       { color: #ffffff; }
    // &.icon-nodejs      { color: #80BD01; }
    // &.icon-ubuntu      { color: #E95420; }
    // &.icon-redhat      { color: #FF0000; }
    // &.icon-javascript  { color: #FEF728; }
    // &.icon-raspberrypi { color: #c51a4a; }
  }
}