@import 'base';
@import 'icons';
@import 'fonts';
@import 'colors';
@import 'buttons';

// Content
.content {
  width: auto;
  border: 3px rgba(0, 0, 0, .8) solid;
  min-width: 655px;
  max-width: 630px;
  margin-top: 30px;
  background: rgba(5, 5, 5, .4);
  border-radius: 2.5%
}

// Main info
.main {
  #logo {
    margin-top: 5px;
    border-radius: 10%;
  }

  .description {
    color: #c9c9c9;
    font-size: 105%;
  }
}

// Experience
.experience {
  .data { margin-bottom: -5px; }
}

// Projects
.projects {
  width: 95%;
  border: 3px rgba(0, 0, 0, .8) solid;
  display: table;
  text-align: center;
  border-radius: 5%;
  background-color: rgba(5, 5, 5, .4);

  margin: {
    left: auto;
    right: auto;
  }
}