$gallery-image-height: 200px;
$gallery-image-portrait-height: 410px;

$skew-all-transition-time: 0.4s;
$skew-text-transition-time: 0.3s;
$skew-x-degrees: -30deg;

$skew-hover-background: rgba(255, 255, 255);
$skew-hover-font: black;

$mask_size: 250%;
$mask_image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);

$color_primary: #ececec;
$color_secondary: #000000;
$color_highlight: #06b4f9;
$color_hyperref: #008080;
$color_text: #000000;


$selection_background: rgba(128, 0, 0, 0.3);
$cicon-size: 2.8rem;
$cicon-margin: 4px;
$cicon-cursor: pointer;

